/*********************************************

Some basic styling to make haiku display a
little more prettily.

**********************************************/

body {
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  width: 50vw;
  margin: auto;
  padding-top: 2rem;
  user-select: none;
  background-color: #ffff66;
}
